.jumbotron {
  text-align: center;
}
ul {
  list-style-type: none;
}
.blue{
  color: blue;
}
.green {
  color: green;
}

.red {
  color: red;
}

.main, .followUp{
  display: none;
}
.startPage, .followUp{
  margin-top: 200px;
  border: 2px groove black;
  padding: 10px;
  text-align: center;
}

.shop-container {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 2px groove grey;
}
.updateScreen{
  text-align: center;
  border: 2px groove grey;
  margin-bottom: 10px;
}
.adventures{
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 2px groove grey;
}