.jumbotron {
  text-align: center;
}
ul {
  list-style-type: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.main, .followUp{
  display: none;
}
.startPage, .followUp{
  margin-top: 200px;
  border: 2px groove black;
  padding: 10px;
  text-align: center;
}

.shop-container {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 2px groove grey;
}
/* Color pallete::after
#000000 - Black
0C1821 - Rich Black FOGRA 29
1B2A41 - Oxford Blue
324A5F - Charcoal
CCC9DC - Languid Lavender
*/